<style>

.{
    
}

.menu{
    width: 400px;
    height: 70px;
}

.up{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

ul li{
    list-style: none;
    margin-left: 62px;
}


}

.logo{
    color: white;
}

body, html {
  height: auto;
  width: auto;
  background-image: url(22.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.self{
    padding: 40px;
    border-radius: 25px;
    border-color: black;
    background-color: transparent;
    color: white;
    margin-right: 500px;
    margin-top: 190px;
    font-family: "Roboto", sans-serif; 
}



span {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  border: 10px;
  margin-left: 30px;
}

.tab, h2,h3{   
  margin-top: px;
  text-align: center;
  margin-right:px;
  padding: 25px;
  font-family: "Roboto", sans-serif;  
        } 

p {background-color: transparent
text-align: justify;
text-justify: inter-word;}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}





.btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.footer-basic {
  padding:40px 0;
  background-color:ghostwhite;
  color:#4b4c4d;
  font-family: "Roboto", sans-serif;   
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .shees {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


</style>